@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');
html {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}
input:hover {
  border: none;
  outline: none;
}
input:active {
  border: none;
  outline: none;
}
input:focus {
  border: none;
  outline: none;
}
ol,
ul {
  list-style: none;
}
a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
body {
  font-family: "Open Sans";
  font-size: 20px;
}
section,
.container {
  display: flex;
  flex-direction: column;
}
header,
footer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0;
}
header .logo,
footer .logo {
  height: 50px;
}
header {
  box-shadow: 0 3px 11px -6px rgba(0, 0, 0, 0.25);
}
nav {
  align-items: stretch;
  justify-content: space-between;
}
nav .navbar-toggler {
  margin-right: 15px;
}
nav .nav_list {
  justify-content: space-between;
}
nav .nav_list a {
  flex: 1 1 auto;
  text-align: center;
  display: inline-block;
}
section {
  margin: 85px 0 25px;
}
h1,
h2 {
  text-align: center;
  max-width: 66.7%;
  margin: 0 auto 25px;
}
h1 {
  color: #232323;
  font-weight: 600;
  font-size: 48px;
}
h2 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 40px;
}
h3 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 600;
}
.button {
  border-radius: 5px;
  background-color: #0089f9;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  text-align: center;
  align-self: center;
}
.button:hover {
  color: white;
}
.link {
  color: #4a90e2;
  text-decoration: underline;
}
.link:hover {
  color: #4a90e2;
  text-decoration: underline;
}
.text {
  padding: 25px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.editor {
  margin-left: auto;
  display: flex;
  padding-left: 40px;
}
.editor .photo {
  border-radius: 50%;
  margin-right: 20px;
}
.editor .name {
  color: #0089f9;
  font-size: 24px;
  font-weight: 600;
}
.editor .description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.texts h3 {
  margin: 10px 0 25px 25px;
}
#when .reasons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#when .reasons .icon {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
}
#when .reasons .icon.customer {
  background-image: url(../img/customer.png);
}
#when .reasons .icon.agency {
  background-image: url(../img/agency.png);
}
#when .reasons .icon.docs {
  background-image: url(../img/docs.png);
}
#faq {
  padding: 35px 0 55px;
  background-color: #f9fdff;
}
#faq .qa:last-of-type {
  margin-bottom: 30px;
}
#faq .qa h3:before {
  content: "Q: ";
}
#faq .qa h3:after {
  content: "?";
}
