@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}
input:hover {
  border: none;
  outline: none;
}
input:active {
  border: none;
  outline: none;
}
input:focus {
  border: none;
  outline: none;
}
ol,
ul {
  list-style: none;
}
a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*::before,
*::after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
body {
  font-family: "Open Sans";
  font-size: 20px;
}
section,
.container {
  display: flex;
  flex-direction: column;
}
header,
footer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  box-shadow: 0 3px 11px -6px rgba(0, 0, 0, 0.25);
}
nav {
  align-items: stretch;
  justify-content: space-between;
}
nav .navbar-toggler {
  margin-right: 15px;
}
nav .nav_list {
  justify-content: space-between;
}
nav .nav_list a {
  flex: 1 1 auto;
  text-align: center;
  display: inline-block;
}
section {
  margin: 85px 0 25px;
}
h1,
h2 {
  text-align: center;
  max-width: 66.7%;
  margin: 0 auto 25px;
}
h1 {
  color: #232323;
  font-weight: 600;
  font-size: 48px;
}
h2 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 40px;
}
h3 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 600;
}
.button {
  border-radius: 5px;
  background-color: #0089f9;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  text-align: center;
  align-self: center;
}
.button:hover {
  color: white;
}
